
.index
  width 100vw
  height 3358px
  background url("../../assets/bg.png") center/cover no-repeat
  box-sizing border-box
  padding-top 790px
  .toSec
    width:583px;
    height:83px;
    margin auto
    display flex
    align-items center
    justify-content center
    background rgb(102,119,223)
    margin-bottom 27px
    .click
      font-size:37px;
      font-family:FZLTZHUNHK;
      font-weight:normal;
      color:rgba(252,252,254,1);
  .toMore
    width:257px;
    height:46px;
    margin auto
    border 1px solid #ffffff
    display flex
    align-items center
    justify-content center
    white-space nowrap
    margin-bottom 526px
    .more
      font-size:24px;
      font-family:FZLTZHUNHK;
      font-weight:normal;
      color:rgba(252,252,254,1);
      white-space nowrap
  .swiper
    width 100vw
    height 502px
    padding 10px 20px
    box-sizing border-box
    .swiperItem
      white-space nowrap
      color rgba(120, 132, 206, 1)
      display flex
      justify-content space-evenly
      .item
        .imgWraper
          box-shadow:0 5 18 0 rgba(99,115,147,0.75);
          width:213px;
          height:332px;
          margin-bottom 14px
        .img
          width:213px;
          height:332px;

        .type
          font-size:33px;
          font-weight:normal;
          margin-bottom 10px
          display block
          font-family:FZLTZHUNHK;
          white-space nowrap
          text-align center
        .p
          font-size:23px;
          display block
          font-family:FZLTZHUNHK;
          white-space nowrap
          text-align center
