.index
  width 100vw
  height 3358px
  background url("https://jiayutianmu.styleking.cn:30000/assets/bg.jpg") center/cover no-repeat
  box-sizing border-box
  padding-top 790px

  text-align center
  .toSec
    width:583px;
    height:83px;
    margin auto
    display flex
    align-items center
    justify-content center
    background rgb(102,119,223)
    margin-bottom 27px

    .click
      font-size:37px;
      font-family:FZLTZHUNHK;
      font-weight:normal;
      color:rgba(252,252,254,1);
      letter-spacing 4px
  .toMore
    width:257px;
    height:46px;
    margin auto
    border 1px solid #ffffff
    display flex
    align-items center
    justify-content center
    white-space nowrap
    margin-bottom 526px
    .more
      font-size:24px;
      font-family:FZLTZHUNHK;
      font-weight:normal;
      color:rgba(252,252,254,1);
      white-space nowrap
  .swiper
    width 100vw
    height 502px
    padding 10px 20px
    box-sizing border-box
    .swiperItem
      white-space nowrap
      color rgba(120, 132, 206, 1)
      display flex
      justify-content space-evenly
      .item
        .imgWraper
          box-shadow:0 5 18 0 rgba(99,115,147,0.75);
          width:213px;
          height:332px;
          margin-bottom 14px
        .img
          width:213px;
          height:332px;
        .type
          font-size:33px;
          font-weight:normal;
          margin-bottom 10px
          display block
          font-family:FZLTZHUNHK;
          white-space nowrap
          text-align center
        .p
          font-size:23px;
          display block
          font-family:FZLTZHUNHK;
          white-space nowrap
          text-align center
  .qrcode
    width 234px
    height 234px
    margin 810px auto 0

  .heartBeat
    -webkit-animation: heartBeat 2s 2;
    animation: heartBeat 2s 2;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
@-webkit-keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes heartBeat {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  14% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  28% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  42% {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
  }
  70% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
