.dialWrapper
  width 100vw
  height 100vh
  background url("http://39.98.67.142/assets/bg2.jpg") center/cover no-repeat
  padding 160px 90px 0
  box-sizing border-box
  text-align center
  .ask
    font-size 34px
    font-family:FZLTZHUNHK;
    white-space nowrap
    color #ffffff
    font-weight 500
    display block
    letter-spacing 5px
  .askB

  .ope
    width 100%
    display flex
    justify-content space-between
    margin-bottom 50px
    margin-top  100px
    .img
      width:252px;
      height:236px;
  .time
    color #ffffff
    font-family:FZLTZHUNHK;
    white-space nowrap
    font-size 20px


