.videoWrapper
  width 100vw
  height 100vh
  overflow hidden
  display flex
  align-items center
  background #000000
  .answer
    position absolute
    bottom 100px
    width 120px
    height 120px
    left calc(50% - 60px)
