.waiting
  width 100vw
  min-height 100vh
  background url("http://39.98.67.142/assets/waiting.jpg") center/cover no-repeat
  text-align center
  box-sizing border-box
  padding-top 440px
  color #ffffff
  .list
    width 80%
    margin auto
  .user
    height 100px
    display flex
    justify-content space-around
    align-items center
    border-bottom 1px solid #ffffff
    .hangup
      width 60px
      height 60px
