.formWraper
  width 100vw
  height 100vh
  background url("../../assets/bg2.png") center/cover no-repeat
  text-align center
  .info
    font-size:38px;
    font-family:FZLTZHUNHK;
    font-weight:normal;
    color:rgba(252,252,254,1);
    white-space nowrap
