
.formWraper
  width 100vw
  height 100vh
  background url("../../assets/bg2.png") center/cover no-repeat
  text-align center
  box-sizing border-box
  padding-top 100px
  .info
    font-size:38px;
    font-family:FZLTZHUNHK;
    font-weight:normal;
    color:rgba(252,252,254,1);
    white-space nowrap
    display block
    margin-bottom 8px
